body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: inline;
    background-color: #d7e1de;
}


.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/*nav*/
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline;
    vertical-align: top;
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    transition: color .1s linear;
    position: relative;

}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;

    background-color: #fce38a;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;

}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover::after {
    opacity: 1;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

article {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

h1, h2, h3 {
    color: #2b2a29;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 7px;
    box-shadow:  8px 8px 12px #7d7d7d,
             -8px -8px 12px #ffffff;
}

button {
    background-color: #00FF00;
    color: #333;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    box-shadow:  8px 8px 12px #7d7d7d,
             -8px -8px 12px #ffffff;

}

button:hover {
    background-color: #228B22;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
