{% extends 'base.html' %}

{% block title %}Атворизация{% endblock %}

{% block login %}
    <h1>Авторизация</h1>
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{ cat }}" ><p>{{ msg }}</p></div>
{% endfor%}
    <main>
        <form method="post">
            <label for="username">Имя:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">войти</button>
        </form>
    </main>
{% endblock %}


